@import url(https://fonts.googleapis.com/css?family=Open+Sans);

section {
    width: 60%;
    margin: 20px auto;
}

#text_form {
    display: flex;
    flex-direction: column;
}

#text_form label,
#add_to_dict_form label,
#text_form input,
button {
    margin: 5px 0;
}

button {
    padding: 5px;
    width: max-content;
    align-self: center;
}

label,
#add_to_dict {
    align-self: center;
}

#container,
#backdrop,
#highlights,
textarea {
    width: 460px;
    height: 90px;
}

#container {
    display: block;
    margin: 0 auto;
}

#text_input,
#add_to_dict {
    padding: 0;
    margin: 0;
    border-radius: 0;
    color: #444;
    background-color: transparent;
    border: 1px solid black;
    resize: none;
    font: 18px 'Opens Sans', sans-serif;
}

#text_input {
    position: absolute;
}

#backdrop {
    position: absolute;
    background-color: #fff;
}

#highlights {
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid black;
    font: 18px 'Opens Sans', sans-serif;
}

mark {
    color: transparent;
    background-color: #ff0000;
}

#spelling_mistakes mark {
    color: unset;
}

#result_message {
    border-radius: 15px;
    visibility: hidden;
    margin: 15px;
    padding: 15px;
}

#add_to_dict_form {
    display: flex;
    flex-direction: column;
}